&lt;div class=&quot;page&quot; id=&quot;page&quot;&gt;
	{{&gt; organisms-header }}
	&lt;div role=&quot;main&quot;&gt;
		&lt;section class=&quot;h-entry&quot;&gt;
			&lt;h1 class=&quot;title&quot;&gt;Autumn Ride&lt;/h1&gt;
			&lt;p class=&quot;dateline&quot;&gt;October 10, 2015&lt;/p&gt;
			&lt;section class=&quot;content&quot;&gt;
				&lt;a href=&quot;http://jpreardon.com/wp-content/uploads/2015/10/IMG_3267.jpg&quot;&gt;
					&lt;img src=&quot;http://jpreardon.com/wp-content/uploads/2015/10/IMG_3267-1024x768.jpg&quot; alt=&quot;Bear Mountain Moto&quot; /&gt;
				&lt;/a&gt;
				&lt;p&gt;Beautiful day for a ride, made all the more exciting by the rafter of turkeys hanging out on a twisty section of RT 106.&lt;/p&gt;
			&lt;/section&gt;
			&lt;section class=&quot;byline&quot;&gt;
				&lt;p&gt;Posted in &lt;a href=&quot;#&quot;&gt;IA/UX&lt;/a&gt; by JP Reardon&lt;/p&gt;
			&lt;/section&gt;
			{{&gt; organisms-comment-thread }}
			{{&gt; organisms-related-posts }}
		&lt;/section&gt;
	{{&gt; organisms-footer }}
&lt;/div&gt;
