<div class="page" id="page">
	{{> organisms-header }}
	<div role="main">
		<section class="h-entry">
			<h1 class="title">Autumn Ride</h1>
			<p class="dateline">October 10, 2015</p>
			<section class="content">
				<a href="http://jpreardon.com/wp-content/uploads/2015/10/IMG_3267.jpg">
					<img src="http://jpreardon.com/wp-content/uploads/2015/10/IMG_3267-1024x768.jpg" alt="Bear Mountain Moto" />
				</a>
				<p>Beautiful day for a ride, made all the more exciting by the rafter of turkeys hanging out on a twisty section of RT 106.</p>
			</section>
			<section class="byline">
				<p>Posted in <a href="#">IA/UX</a> by JP Reardon</p>
			</section>
			{{> organisms-comment-thread }}
			{{> organisms-related-posts }}
		</section>
	{{> organisms-footer }}
</div>
