<ul class="sg-colors">
	<li>
		<span class="sg-swatch" style="background: #444444;"></span>
		<span class="sg-label">#444444</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #0088CC;"></span>
		<span class="sg-label">#0088CC</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #666666;"></span>
		<span class="sg-label">#666666</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #FFFFFF;"></span>
		<span class="sg-label">#FFFFFF</span>
	</li>
</ul>
